/* 01 Base - Mode 1 */
:root {
  --colors-transparent: rgba(255, 255, 255, 0);
  --colors-blue-100: rgba(232, 240, 254, 1);
  --colors-blue-200: rgba(195, 213, 253, 1);
  --colors-blue-300: rgba(154, 185, 252, 1);
  --colors-blue-400: rgba(114, 160, 251, 1);
  --colors-blue-500: rgba(66, 133, 244, 1);
  --colors-neutral-0: rgba(255, 255, 255, 1);
  --colors-blue-600: rgba(51, 103, 214, 1);
  --colors-blue-700: rgba(43, 84, 180, 1);
  --colors-neutral-50: rgba(245, 245, 245, 1);
  --colors-blue-800: rgba(34, 64, 147, 1);
  --colors-neutral-100: rgba(229, 229, 229, 1);
  --colors-neutral-200: rgba(216, 216, 216, 1);
  --colors-blue-900: rgba(26, 45, 113, 1);
  --colors-neutral-300: rgba(201, 201, 201, 1);
  --colors-blue-1000: rgba(16, 28, 79, 1);
  --colors-neutral-400: rgba(179, 179, 179, 1);
  --colors-neutral-500: rgba(165, 172, 186, 1);
  --colors-neutral-600: rgba(156, 156, 156, 1);
  --colors-neutral-700: rgba(110, 110, 110, 1);
  --colors-neutral-800: rgba(85, 85, 85, 1);
  --colors-neutral-900: rgba(51, 51, 51, 1);
  --colors-neutral-1000: rgba(29, 29, 29, 1);
  --colors-sky-blue-100: rgba(237, 243, 251, 1);
  --colors-sky-blue-200: rgba(191, 216, 255, 1);
  --colors-sky-blue-300: rgba(156, 196, 255, 1);
  --colors-sky-blue-400: rgba(122, 174, 255, 1);
  --colors-sky-blue-500: rgba(89, 147, 250, 1);
  --colors-sky-blue-600: rgba(56, 121, 247, 1);
  --colors-sky-blue-700: rgba(44, 101, 214, 1);
  --colors-sky-blue-800: rgba(28, 80, 178, 1);
  --colors-sky-blue-900: rgba(18, 48, 111, 1);
  --colors-sky-blue-1000: rgba(10, 27, 71, 1);
  --colors-orange-0: rgba(255, 237, 224, 1);
  --colors-orange-50: rgba(253, 211, 183, 1);
  --colors-orange-100: rgba(249, 180, 143, 1);
  --colors-orange-200: rgba(245, 153, 108, 1);
  --colors-orange-300: rgba(240, 122, 71, 1);
  --colors-orange-400: rgba(232, 100, 40, 1);
  --colors-orange-500: rgba(216, 87, 24, 1);
  --colors-orange-600: rgba(186, 72, 12, 1);
  --colors-orange-700: rgba(154, 58, 6, 1);
  --colors-orange-800: rgba(122, 43, 0, 1);
  --colors-orange-900: rgba(90, 31, 0, 1);
  --colors-orange-1000: rgba(58, 19, 0, 1);
  --colors-red-100: rgba(255, 212, 217, 1);
  --colors-red-200: rgba(242, 138, 154, 1);
  --colors-red-300: rgba(226, 79, 100, 1);
  --colors-red-400: rgba(199, 34, 59, 1);
  --colors-red-500: rgba(116, 17, 31, 1);
  --colors-red-600: rgba(58, 6, 13, 1);
  --colors-yellow-100: rgba(254, 246, 211, 1);
  --colors-yellow-200: rgba(250, 233, 163, 1);
  --colors-yellow-300: rgba(247, 223, 114, 1);
  --colors-yellow-400: rgba(245, 210, 58, 1);
  --colors-yellow-500: rgba(116, 90, 13, 1);
  --colors-yellow-600: rgba(58, 41, 5, 1);
  --colors-green-100: rgba(216, 252, 230, 1);
  --colors-green-200: rgba(152, 244, 192, 1);
  --colors-green-300: rgba(79, 232, 145, 1);
  --colors-green-400: rgba(2, 209, 99, 1);
  --colors-green-500: rgba(29, 151, 86, 1);
  --colors-green-600: rgba(4, 42, 23, 1);
  --size-none: 0px;
  --size-one: 1px;
  --size-xxs: 2px;
  --size-base-x: 4px;
  --size-sm: 8px;
  --size-ten: 10px;
  --size-md-sm: 12px;
  --size-fourteen: 14px;
  --size-md: 16px;
  --size-md-lg: 20px;
  --size-lg: 24px;
  --size-lg2: 28px;
  --size-xl: 32px;
  --size-xl2: 36px;
  --size-xxl: 40px;
  --size-xxl2: 44px;
  --size-xxxl: 48px;
  --size-xxxxl: 64px;
  --size-huge: 80px;
  --size-giant: 96px;
  --size-massive: 128px;
  --size-xl-massive: 144px;
  --size-txt-10: 10px;
  --size-txt-11: 11px;
  --size-txt-13: 13px;
  --size-txt-14: 14px;
  --size-txt-15: 15px;
  --size-rd: 999999px;
  --none: 0px;
  --base-x: 4px;
  --2x: 8px;
  --3x: 12px;
  --4x: 16px;
  --5x: 20px;
  --6x: 24px;
  --7x: 28px;
  --8x: 32px;
  --10x: 40px;
  --12x: 48px;
  --16x: 64px;
  --20x: 80px;
  --hude-x: 96px;
  --giant-x: 128px;
  --massive-x: 160px;
  --spacing-none: 0px;
  --spacing-half-x: 2px;
  --spacing-base-x: 4px;
  --spacing-2x: 8px;
  --spacing-3x: 12px;
  --spacing-4x: 16px;
  --spacing-5x: 20px;
  --spacing-6x: 24px;
  --spacing-7x: 28px;
  --spacing-8x: 32px;
  --spacing-10x: 40px;
  --spacing-12x: 48px;
  --spacing-16x: 64px;
  --spacing-20x: 80px;
  --spacing-huge-x: 96px;
  --spacing-giant-x: 128px;
  --spacing-massive-x: 160px;
}
