/* 03 Generic - Mode 1 */
:root {
  --opacity-0: 0px;
  --opacity-25: 25px;
  --opacity-50: 50px;
  --opacity-75: 75px;
  --opacity-100: 100px;
  --border-stroke-none: var(--size-none);
  --border-stroke-one: var(--size-one);
  --border-stroke-sm: var(--size-xxs);
  --border-stroke-md: var(--size-base-x);
  --border-radius-none: var(--size-none);
  --border-radius-xxs: var(--size-xxs);
  --border-radius-xs: var(--size-base-x);
  --border-radius-sm: var(--size-sm);
  --border-radius-md: var(--size-md);
  --border-color-light: var(--color-secondary-light);
  --border-radius-lg: var(--size-lg);
  --border-color-soft-light: var(--color-secondary-soft-light);
  --border-color-deepest: var(--color-secondary-deepest);
  --border-radius-xl: var(--size-xl);
  --border-radius-rd: var(--size-rd);
  --surface-primary-100: var(--typography-color-primary-100);
  --surface-primary-200: var(--typography-color-primary-200);
  --surface-primary-300: var(--typography-color-primary-300);
  --surface-primary-400: var(--typography-color-primary-400);
  --surface-primary-500: var(--typography-color-primary-500);
  --surface-primary-600: var(--typography-color-primary-600);
  --surface-primary-700: var(--typography-color-primary-700);
  --surface-primary-800: var(--typography-color-primary-800);
  --surface-primary-900: var(--typography-color-primary-900);
  --surface-primary-1000: var(--typography-color-primary-1000);
  --spacing-padding-none: var(--spacing-none);
  --spacing-padding-x: var(--spacing-base-x);
  --spacing-padding-2x: var(--spacing-2x);
  --spacing-padding-3x: var(--spacing-3x);
  --spacing-padding-4x: var(--spacing-4x);
  --spacing-padding-5x: var(--spacing-5x);
  --spacing-padding-6x: var(--spacing-6x);
  --spacing-padding-8x: var(--spacing-8x);
  --spacing-padding-10x: var(--spacing-10x);
  --spacing-padding-16x: var(--spacing-16x);
  --spacing-padding-20x: var(--spacing-20x);
  --spacing-padding-huge-x: var(--spacing-huge-x);
  --spacing-padding-giant-x: var(--spacing-giant-x);
  --typography-color-primary-100: var(--color-primary-100);
  --typography-color-primary-200: var(--color-primary-200);
  --typography-color-primary-300: var(--color-primary-300);
  --typography-color-primary-400: var(--color-primary-400);
  --typography-color-primary-500: var(--color-primary-500);
  --typography-color-primary-600: var(--color-primary-600);
  --typography-color-primary-700: var(--color-primary-700);
  --typography-color-primary-800: var(--color-primary-800);
  --typography-color-primary-900: var(--color-primary-900);
  --typography-color-primary-1000: var(--color-primary-1000);
  --typography-color-secondary-0: var(--color-secondary-lightest);
  --typography-color-secondary-50: var(--color-secondary-light);
  --typography-color-secondary-100: var(--color-secondary-lighter);
  --typography-color-secondary-200: var(--color-secondary-soft-light);
  --typography-color-secondary-300: var(--color-secondary-medium-light);
  --typography-color-secondary-400: var(--color-secondary-neutral);
  --typography-color-secondary-500: var(--color-secondary-medium-dark);
  --typography-color-secondary-600: var(--color-secondary-dark);
  --typography-color-secondary-700: var(--color-secondary-darker);
  --typography-color-secondary-800: var(--color-secondary-very-dark);
  --typography-color-secondary-900: var(--color-secondary-darkest);
  --typography-color-secondary-1000: var(--color-secondary-deepest);
  --typography-color-link-link: var(--color-others-medium-dark);
  --typography-color-status-alert: var(--color-status-alert-neutral);
  --typography-color-status-success: var(--color-status-success-neutral);
  --typography-color-status-warning: var(--color-status-warning-neutral);
  --typography-color-status-ackowledeged: var(--color-status-acknowledged-neutral);
  --typography-font-family-primary: var(--fonts-family-primary);
  --typography-font-family-secondary: var(--fonts-family-secondary);
  --typography-font-size-heading-display: var(--size-xl-massive);
  --typography-font-size-heading-title: var(--size-giant);
  --typography-font-size-heading-h1: var(--size-huge);
  --typography-font-size-heading-h2: var(--size-xxxxl);
  --typography-font-size-heading-h3: var(--size-xxxl);
  --typography-font-size-heading-h4: var(--size-xl2);
  --typography-font-size-heading-h5: var(--size-lg2);
  --typography-font-size-heading-h6: var(--size-lg);
  --typography-font-size-body-body-xxl: var(--size-lg);
  --typography-font-size-body-body-xl: var(--size-md-lg);
  --typography-font-size-body-body-lg: var(--size-md);
  --typography-font-size-body-body-md: var(--size-txt-14);
  --typography-font-size-body-body-sm: var(--size-md-sm);
  --typography-font-size-body-body-xs: var(--size-txt-11);
  --size-zero: var(--size-none);
  --size-x: var(--size-base-x);
  --size-2x: var(--size-sm);
  --size-3x: var(--size-md-sm);
  --size-4x: var(--size-md);
  --size-5x: var(--size-md-lg);
  --size-6x: var(--size-lg);
  --size-7x: var(--size-xl);
  --size-8x: var(--size-xxl);
  --size-9x: var(--size-xxxl);
  --size-10x: var(--size-xxxxl);
  --size-11x: var(--size-huge);
  --size-12x: var(--size-giant);
  --size-13x: var(--size-massive);
  --size-14x: var(--size-massive);
  --typography-line-height-display: var(--size-xl-massive);
  --typography-font-weight-thin: 100;
  --typography-font-weight-extralight: 200;
  --typography-font-weight-light: 300;
  --typography-font-weight-regular: 400;
  --typography-font-weight-medium: 500;
  --typography-font-weight-semibold: 600;
  --typography-font-weight-bold: 700;
  --typography-font-weight-extrabold: 800;
  --typography-font-weight-black: 900;
  --typography-line-height-title: var(--size-giant);
  --typography-line-height-h1: var(--size-xxxxl);
  --typography-line-height-h2: var(--size-xxxl);
  --typography-line-height-h3: var(--size-xxl2);
  --typography-line-height-h4: var(--size-xl2);
  --typography-line-height-h5: var(--size-xl);
  --typography-line-height-h6: var(--size-lg2);
  --typography-line-height-body-xxl: var(--size-xl);
  --typography-line-height-body-xl: var(--size-lg2);
  --typography-line-height-body-lg: var(--size-lg);
  --typography-line-height-body-md: var(--size-md);
  --typography-line-height-body-sm: var(--size-md);
  --typography-line-height-body-xs: var(--size-md);
  --typography-color: rgba(255, 255, 255, 1);
  --surface-secondary-0: var(--typography-color-secondary-0);
  --surface-secondary-50: var(--typography-color-secondary-50);
  --surface-secondary-100: var(--typography-color-secondary-100);
  --surface-secondary-200: var(--typography-color-secondary-200);
  --surface-secondary-300: var(--typography-color-secondary-300);
  --surface-secondary-400: var(--typography-color-secondary-400);
  --surface-secondary-500: var(--typography-color-secondary-500);
  --surface-secondary-600: var(--typography-color-secondary-600);
  --surface-secondary-700: var(--typography-color-secondary-700);
  --surface-secondary-800: var(--typography-color-secondary-800);
  --surface-secondary-900: var(--typography-color-secondary-900);
  --surface-secondary-1000: var(--typography-color-secondary-1000);
}
